<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <title>Document</title>
</head>
<body>
    <header>
        <h1>Box Alignment</h1>
        <p>Once you have items on a flexbox or grid layout, you can control how those items fit inside those layouts.</p>
        <p>I often just want to put some space in between elements.</p>
    </header>
    <main>
        <section>
            <h2>Space Between</h2>
            <p><code>space(-DIR)(-AMT)</code></p>
            <small>DIR</small>
            <ul>
                <li><code>x</code></li>
                <li><code>y</code></li>
            </ul>
            <small>AMT</small>
            <ul>
                <li><code>0</code></li>
                <li><code>0.5</code></li>
                <li><code>1</code></li>
                <li><code>1.5</code></li>
                <li><code>2</code></li>
                <li><code>2.5</code></li>
                <li><code>3</code></li>
                <li><code>3.5</code></li>
                <li><code>4</code></li>
                <li><code>5</code></li>
                <li><code>6</code></li>
                <li><code>7</code></li>
                <li><code>8</code></li>
                <li><code>9</code></li>
                <li><code>10</code></li>
                <li><code>11</code></li>
                <li><code>12</code></li>
                <li><code>14</code></li>
                <li><code>16</code></li>
                <li><code>20</code></li>
                <li><code>24</code></li>
                <li><code>28</code></li>
                <li><code>32</code></li>
                <li><code>36</code></li>
                <li><code>40</code></li>
                <li><code>44</code></li>
                <li><code>48</code></li>
                <li><code>52</code></li>
                <li><code>56</code></li>
                <li><code>60</code></li>
                <li><code>64</code></li>
                <li><code>72</code></li>
                <li><code>80</code></li>
                <li><code>96</code></li>
                <li><code>px</code></li>
                <li><code>reverse</code></li>
            </ul>
            <h3>Example:</h3>
            <ul class="container mx-auto divide-y divide-gray-400 divide-dotted" style="font-family: Raleway">
            <li class=" justify-start w-full flex items-center justify-between px-4 py-2">
                <div class="space-x-2 flex">
                <div class="bg-red-500 text-white px-3 py-2 rounded-md">1</div>
                <div class="bg-green-500 text-white px-3 py-2 rounded-md">2</div>
                <div class="bg-blue-500 text-white px-3 py-2 rounded-md">3</div>
                <div class="bg-indigo-500 text-white px-3 py-2 rounded-md">4</div>
                </div>
                <div class="ml-5 text-right">
                <div class="text-xs font-semibold inline-block font-mono whitespace-nowrap px-2 py-1 rounded text-white bg-pink-500 rounded-2">justify-content-start</div>
                <div class="text-xs font-mono text-gray-500"><b class="text-black mt-3 inline-block">DIR</b><br>      
                    x y<br>
                <div class="text-xs font-mono text-gray-500"><b class="text-black mt-3 inline-block">AMT</b><br>
                    0 0.5 1 1.5 2<br>
                    2.5 3 3.5 4 5 6<br>
                    7 8 9 10 11 12<br>
                    14 16 20 24 28<br>
                    32 36 40 44 48 52<br>
                    56 60 64 72 80 96<br>
                    px reverse
                </div>
                </div>
            </li>
            </ul>
        </section>
        <section>
            <h2>Justify Content</h2>
            <small>DIR</small>
            <ul>
                <li><code>start</code></li>
                <li><code>end</code></li>
                <li><code>center</code></li>
                <li><code>between</code></li>
                <li><code>around</code></li>
                <li><code>evenly</code></li>
            </ul>
            <p>Justify content works with either grid or flex items and let you control how elements are postioned in the main axis.</p>
            <h3>Example:</h3>
            <ul class="container mx-auto divide-y divide-gray-400 divide-dotted" style="font-family: Raleway">
            <li class=" justify-start w-full flex items-center px-4 py-2">
                <div class="w-full justify-start flex space-x-2 bg-yellow-200">
                <div class="bg-red-500 text-white px-3 py-2 rounded-md">1</div>
                <div class="bg-green-500 text-white px-3 py-2 rounded-md">2</div>
                <div class="bg-blue-500 text-white px-3 py-2 rounded-md">3</div>
                </div>
                <div class="ml-5 text-right  w-1/3">
                <div class="text-xs font-semibold inline-block font-mono whitespace-nowrap px-2 py-1 rounded text-white bg-pink-500 rounded-2">justify-start</div>
                </div>
            </li>
            <li class="w-full flex items-center py-2">
                <div class="w-full justify-end flex space-x-2  bg-yellow-200">
                <div class="bg-red-500 text-white px-3 py-2 rounded-md">1</div>
                <div class="bg-green-500 text-white px-3 py-2 rounded-md">2</div>
                <div class="bg-blue-500 text-white px-3 py-2 rounded-md">3</div>
                </div>
                <div class="ml-5 text-right  w-1/3 w-1/3">
                <div class="text-xs font-semibold inline-block font-mono whitespace-nowrap px-2 py-1 rounded text-white bg-pink-500 rounded-2">justify-end</div>
                </div>
            </li>
            <li class="w-full flex items-center px-4 py-2">
                <div class="w-full justify-center flex space-x-2  bg-yellow-200">
                <div class="bg-red-500 text-white px-3 py-2 rounded-md">1</div>
                <div class="bg-green-500 text-white px-3 py-2 rounded-md">2</div>
                <div class="bg-blue-500 text-white px-3 py-2 rounded-md">3</div>
                </div>
                <div class="ml-5 text-right  w-1/3">
                <div class="text-xs font-semibold inline-block font-mono whitespace-nowrap px-2 py-1 rounded text-white bg-pink-500 rounded-2">justify-center</div>
                </div>
            </li>
            <li class="w-full flex items-center px-4 py-2">
                <div class="w-full justify-between flex space-x-2  bg-yellow-200">
                <div class="bg-red-500 text-white px-3 py-2 rounded-md">1</div>
                <div class="bg-green-500 text-white px-3 py-2 rounded-md">2</div>
                <div class="bg-blue-500 text-white px-3 py-2 rounded-md">3</div>
                </div>
                <div class="ml-5 text-right  w-1/3">
                <div class="text-xs font-semibold inline-block font-mono whitespace-nowrap px-2 py-1 rounded text-white bg-pink-500 rounded-2">justify-between</div>
                </div>
            </li>
            <li class="w-full flex items-center px-4 py-2">
                <div class="w-full justify-around flex space-x-2  bg-yellow-200">
                <div class="bg-red-500 text-white px-3 py-2 rounded-md">1</div>
                <div class="bg-green-500 text-white px-3 py-2 rounded-md">2</div>
                <div class="bg-blue-500 text-white px-3 py-2 rounded-md">3</div>
                </div>
                <div class="ml-5 text-right  w-1/3">
                <div class="text-xs font-semibold inline-block font-mono whitespace-nowrap px-2 py-1 rounded text-white bg-pink-500 rounded-2">justify-around</div>
                </div>
            </li>
            <li class="w-full flex items-center px-4 py-2">
                <div class="w-full justify-evenly flex space-x-2  bg-yellow-200">
                <div class="bg-red-500 text-white px-3 py-2 rounded-md">1</div>
                <div class="bg-green-500 text-white px-3 py-2 rounded-md">2</div>
                <div class="bg-blue-500 text-white px-3 py-2 rounded-md">3</div>
                </div>
                <div class="ml-5 text-right  w-1/3">
                <div class="text-xs font-semibold inline-block font-mono whitespace-nowrap px-2 py-1 rounded text-white bg-pink-500 rounded-2">justify-evenly</div>
                </div>
            </li>
            </ul>
        </section>
        <section>
            <h2>Justify Items</h2>
            <p><code>justify-items(-DIR)</code></p>
            <small>DIR</small>
            <ul>
                <li><code>auto</code></li>
                <li><code>start</code></li>
                <li><code>end</code></li>
                <li><code>center</code></li>
                <li><code>stretch</code></li>
            </ul>
            <p>Specifically for grid items, you can control how items are placed within their axis. This is similar to Justify Content.

            justify-items-auto is the default, which looks the same as justify-items-stretch which stretches the items to fit their grid lines.

            justify-items-start makes the items align to the beginning of the grid lines, justify-items-end aligns the items to the end, and justify-items-center aligns them to the center of the grid.</p>
            <h3>Example:</h3>
            <ul class="container mx-auto divide-y divide-gray-400 divide-dotted" style="font-family: Raleway">
            <li class="w-full flex items-center px-4 py-2">
                <div class="justify-items-auto grid grid-cols-3 w-full gap-2">
                <span class="bg-red-500 text-white px-3 py-2 rounded-md">1</span>
                <span class="bg-green-500 text-white px-3 py-2 rounded-md">2</span>
                <span class="bg-blue-500 text-white px-3 py-2 rounded-md">3</span>
                <span class="bg-indigo-500 text-white px-3 py-2 rounded-md">4</span>
                <span class="bg-purple-500 text-white px-3 py-2 rounded-md">5</span>
                <span class="bg-yellow-300 text-white px-3 py-2 rounded-md">6</span>
                </div>
                <div class="ml-5 text-right  w-1/3">
                <div class="text-xs font-semibold inline-block font-mono whitespace-nowrap px-2 py-1 rounded text-white bg-pink-500 rounded-2">justify-items-auto</div>
                </div>
            </li>
            <li class="w-full flex items-center px-4 py-2">
                <div class="justify-items-start grid grid-cols-3 w-full gap-2">
                <span class="bg-red-500 text-white px-3 py-2 rounded-md">1</span>
                <span class="bg-green-500 text-white px-3 py-2 rounded-md">2</span>
                <span class="bg-blue-500 text-white px-3 py-2 rounded-md">3</span>
                <span class="bg-indigo-500 text-white px-3 py-2 rounded-md">4</span>
                <span class="bg-purple-500 text-white px-3 py-2 rounded-md">5</span>
                <span class="bg-yellow-300 text-white px-3 py-2 rounded-md">6</span>
                </div>
                <div class="ml-5 text-right  w-1/3">
                <div class="text-xs font-semibold inline-block font-mono whitespace-nowrap px-2 py-1 rounded text-white bg-pink-500 rounded-2">justify-items-start</div>
                </div>
            </li>
            <li class="w-full flex items-center px-4 py-2">
                <div class="justify-items-end grid grid-cols-3 w-full gap-2">
                <span class="bg-red-500 text-white px-3 py-2 rounded-md">1</span>
                <span class="bg-green-500 text-white px-3 py-2 rounded-md">2</span>
                <span class="bg-blue-500 text-white px-3 py-2 rounded-md">3</span>
                <span class="bg-indigo-500 text-white px-3 py-2 rounded-md">4</span>
                <span class="bg-purple-500 text-white px-3 py-2 rounded-md">5</span>
                <span class="bg-yellow-300 text-white px-3 py-2 rounded-md">6</span>
                </div>
                <div class="ml-5 text-right  w-1/3">
                <div class="text-xs font-semibold inline-block font-mono whitespace-nowrap px-2 py-1 rounded text-white bg-pink-500 rounded-2">justify-items-end</div>
                </div>
            </li>
            <li class="w-full flex items-center px-4 py-2">
                <div class="justify-items-center grid grid-cols-3 w-full gap-2">
                <span class="bg-red-500 text-white px-3 py-2 rounded-md">1</span>
                <span class="bg-green-500 text-white px-3 py-2 rounded-md">2</span>
                <span class="bg-blue-500 text-white px-3 py-2 rounded-md">3</span>
                <span class="bg-indigo-500 text-white px-3 py-2 rounded-md">4</span>
                <span class="bg-purple-500 text-white px-3 py-2 rounded-md">5</span>
                <span class="bg-yellow-300 text-white px-3 py-2 rounded-md">6</span>
                </div>
                <div class="ml-5 text-right  w-1/3">
                <div class="text-xs font-semibold inline-block font-mono whitespace-nowrap px-2 py-1 rounded text-white bg-pink-500 rounded-2">justify-items-center</div>
                </div>
            </li>
            <li class="w-full flex items-center px-4 py-2">
                <div class="justify-items-stretch grid grid-cols-3 w-full gap-2">
                <span class="bg-red-500 text-white px-3 py-2 rounded-md">1</span>
                <span class="bg-green-500 text-white px-3 py-2 rounded-md">2</span>
                <span class="bg-blue-500 text-white px-3 py-2 rounded-md">3</span>
                <span class="bg-indigo-500 text-white px-3 py-2 rounded-md">4</span>
                <span class="bg-purple-500 text-white px-3 py-2 rounded-md">5</span>
                <span class="bg-yellow-300 text-white px-3 py-2 rounded-md">6</span>
                </div>
                <div class="ml-5 text-right  w-1/3">
                <div class="text-xs font-semibold inline-block font-mono whitespace-nowrap px-2 py-1 rounded text-white bg-pink-500 rounded-2">justify-items-stretch</div>
                </div>
            </li>
            </ul>
        </section>
        <section>
            <h2>Justify Self</h2>
            <p><code>justify-self(-DIR)</code></p>
            <small>DIR</small>
            <ul>
                <li><code>auto</code></li>
                <li><code>start</code></li>
                <li><code>end</code></li>
                <li><code>center</code></li>
                <li><code>stretch</code></li>
            </ul>
            <p>Justify self is similar to Justify items, but applies to a single element.</p>
            <h3>Example:</h3>
            <ul class="container mx-auto divide-y divide-gray-400 divide-dotted" style="font-family: Raleway">
            <li class="w-full flex items-center px-4 py-2">
                <div class="justify-items-auto grid grid-cols-3 w-full gap-2">
                <span class="bg-red-500 text-white px-3 py-2 rounded-md">1</span>
                <span class="justify-self-auto bg-green-500 text-white px-3 py-2 rounded-md">2</span>
                <span class="bg-blue-500 text-white px-3 py-2 rounded-md">3</span>
                </div>
                <div class="ml-5 text-right w-1/3">
                <div class="text-xs font-semibold inline-block font-mono whitespace-nowrap px-2 py-1 rounded text-white bg-pink-500 rounded-2">justify-self-auto</div>
                </div>
            </li>
            <li class="w-full flex items-center px-4 py-2">
                <div class="justify-items-auto grid grid-cols-3 w-full gap-2">
                <span class="bg-red-500 text-white px-3 py-2 rounded-md">1</span>
                <span class="justify-self-start bg-green-500 text-white px-3 py-2 rounded-md">2</span>
                <span class="bg-blue-500 text-white px-3 py-2 rounded-md">3</span>
                </div>
                <div class="ml-5 text-right w-1/3">
                <div class="text-xs font-semibold inline-block font-mono whitespace-nowrap px-2 py-1 rounded text-white bg-pink-500 rounded-2">justify-self-start</div>
                </div>
            </li>
            <li class="w-full flex items-center px-4 py-2">
                <div class="justify-items-auto grid grid-cols-3 w-full gap-2">
                <span class="bg-red-500 text-white px-3 py-2 rounded-md">1</span>
                <span class="justify-self-end  bg-green-500 text-white px-3 py-2 rounded-md">2</span>
                <span class="bg-blue-500 text-white px-3 py-2 rounded-md">3</span>
                </div>
                <div class="ml-5 text-right w-1/3">
                <div class="text-xs font-semibold inline-block font-mono whitespace-nowrap px-2 py-1 rounded text-white bg-pink-500 rounded-2">justify-self-end</div>
                </div>
            </li>
            <li class="w-full flex items-center px-4 py-2">
                <div class="justify-items-auto grid grid-cols-3 w-full gap-2">
                <span class="bg-red-500 text-white px-3 py-2 rounded-md">1</span>
                <span class="justify-self-center  bg-green-500 text-white px-3 py-2 rounded-md">2</span>
                <span class="bg-blue-500 text-white px-3 py-2 rounded-md">3</span>
                </div>
                <div class="ml-5 text-right w-1/3">
                <div class="text-xs font-semibold inline-block font-mono whitespace-nowrap px-2 py-1 rounded text-white bg-pink-500 rounded-2">justify-self-center</div>
                </div>
            </li>
            <li class="w-full flex items-center px-4 py-2">
                <div class="justify-items-auto grid grid-cols-3 w-full gap-2">
                <span class="bg-red-500 text-white px-3 py-2 rounded-md">1</span>
                <span class="justify-self-stretch bg-green-500 text-white px-3 py-2 rounded-md">2</span>
                <span class="bg-blue-500 text-white px-3 py-2 rounded-md">3</span>
                </div>
                <div class="ml-5 text-right w-1/3">
                <div class="text-xs font-semibold inline-block font-mono whitespace-nowrap px-2 py-1 rounded text-white bg-pink-500 rounded-2">justify-self-stretch</div>
                </div>
            </li>
            </ul>
        </section>
        <section>
            <h2>Align Content</h2>
            <p><code>content(-DIR)</code></p>
            <small>DIR</small>
            <ul>
                <li><code>center</code></li>
                <li><code>start</code></li>
                <li><code>end</code></li>
                <li><code>between</code></li>
                <li><code>around</code></li>
                <li><code>evenly</code></li>
            </ul>
            <p>Align Content works with flex and grid containers and align based on the cross axis.</p>
            <h3>Example:</h3>
            <ul class="container mx-auto divide-y divide-gray-400 divide-dotted" style="font-family: Raleway">
            <li class="w-full h-40 flex items-center px-4 py-2">
                <div class="content-center h-full bg-purple-100 justify-items-auto grid grid-cols-3 w-full gap-1">
                <span class="bg-red-500 text-white px-3 py-2 rounded-md">1</span>
                <span class="bg-green-500 text-white px-3 py-2 rounded-md">2</span>
                <span class="bg-blue-500 text-white px-3 py-2 rounded-md">3</span>
                <span class="bg-indigo-500 text-white px-3 py-2 rounded-md">4</span>
                <span class="bg-purple-500 text-white px-3 py-2 rounded-md">5</span>
                <span class="bg-yellow-300 text-white px-3 py-2 rounded-md">6</span>
                </div>
                <div class="ml-5 text-right w-1/3">
                <div class="text-xs font-semibold inline-block font-mono whitespace-nowrap px-2 py-1 rounded text-white bg-pink-500 rounded-2">content-center</div>
                </div>
            </li>
            <li class="w-full h-40 flex items-center px-4 py-2">
                <div class="content-start h-full bg-purple-100 justify-items-auto grid grid-cols-3 w-full gap-1">
                <span class="bg-red-500 text-white px-3 py-2 rounded-md">1</span>
                <span class="bg-green-500 text-white px-3 py-2 rounded-md">2</span>
                <span class="bg-blue-500 text-white px-3 py-2 rounded-md">3</span>
                <span class="bg-indigo-500 text-white px-3 py-2 rounded-md">4</span>
                <span class="bg-purple-500 text-white px-3 py-2 rounded-md">5</span>
                <span class="bg-yellow-300 text-white px-3 py-2 rounded-md">6</span>
                </div>
                <div class="ml-5 text-right w-1/3">
                <div class="text-xs font-semibold inline-block font-mono whitespace-nowrap px-2 py-1 rounded text-white bg-pink-500 rounded-2">content-start</div>
                </div>
            </li>
            <li class="w-full h-40 flex items-center px-4 py-2">
                <div class="content-end h-full bg-purple-100 justify-items-auto grid grid-cols-3 w-full gap-1">
                <span class="bg-red-500 text-white px-3 py-2 rounded-md">1</span>
                <span class="bg-green-500 text-white px-3 py-2 rounded-md">2</span>
                <span class="bg-blue-500 text-white px-3 py-2 rounded-md">3</span>
                <span class="bg-indigo-500 text-white px-3 py-2 rounded-md">4</span>
                <span class="bg-purple-500 text-white px-3 py-2 rounded-md">5</span>
                <span class="bg-yellow-300 text-white px-3 py-2 rounded-md">6</span>
                </div>
                <div class="ml-5 text-right w-1/3">
                <div class="text-xs font-semibold inline-block font-mono whitespace-nowrap px-2 py-1 rounded text-white bg-pink-500 rounded-2">content-end</div>
                </div>
            </li>
            <li class="w-full h-40 flex items-center px-4 py-2">
                <div class="content-between h-full bg-purple-100 justify-items-auto grid grid-cols-3 w-full gap-1">
                <span class="bg-red-500 text-white px-3 py-2 rounded-md">1</span>
                <span class="bg-green-500 text-white px-3 py-2 rounded-md">2</span>
                <span class="bg-blue-500 text-white px-3 py-2 rounded-md">3</span>
                <span class="bg-indigo-500 text-white px-3 py-2 rounded-md">4</span>
                <span class="bg-purple-500 text-white px-3 py-2 rounded-md">5</span>
                <span class="bg-yellow-300 text-white px-3 py-2 rounded-md">6</span>
                </div>
                <div class="ml-5 text-right w-1/3">
                <div class="text-xs font-semibold inline-block font-mono whitespace-nowrap px-2 py-1 rounded text-white bg-pink-500 rounded-2">content-between</div>
                </div>
            </li>
            <li class="w-full h-40 flex items-center px-4 py-2">
                <div class="content-around h-full bg-purple-100 justify-items-auto grid grid-cols-3 w-full gap-1">
                <span class="bg-red-500 text-white px-3 py-2 rounded-md">1</span>
                <span class="bg-green-500 text-white px-3 py-2 rounded-md">2</span>
                <span class="bg-blue-500 text-white px-3 py-2 rounded-md">3</span>
                <span class="bg-indigo-500 text-white px-3 py-2 rounded-md">4</span>
                <span class="bg-purple-500 text-white px-3 py-2 rounded-md">5</span>
                <span class="bg-yellow-300 text-white px-3 py-2 rounded-md">6</span>
                </div>
                <div class="ml-5 text-right w-1/3">
                <div class="text-xs font-semibold inline-block font-mono whitespace-nowrap px-2 py-1 rounded text-white bg-pink-500 rounded-2">content-around</div>
                </div>
            </li>
            <li class="w-full h-40 flex items-center px-4 py-2">
                <div class="content-evenly h-full bg-purple-100 justify-items-auto grid grid-cols-3 w-full gap-1">
                <span class="bg-red-500 text-white px-3 py-2 rounded-md">1</span>
                <span class="bg-green-500 text-white px-3 py-2 rounded-md">2</span>
                <span class="bg-blue-500 text-white px-3 py-2 rounded-md">3</span>
                <span class="bg-indigo-500 text-white px-3 py-2 rounded-md">4</span>
                <span class="bg-purple-500 text-white px-3 py-2 rounded-md">5</span>
                <span class="bg-yellow-300 text-white px-3 py-2 rounded-md">6</span>
                </div>
                <div class="ml-5 text-right w-1/3">
                <div class="text-xs font-semibold inline-block font-mono whitespace-nowrap px-2 py-1 rounded text-white bg-pink-500 rounded-2">content-evenly</div>
                </div>
            </li>
            </ul>
        </section>
        <section>
            <h2>Align Items</h2>
            <p><code>items(-DIR)</code></p>
            <small>DIR</small>
            <ul>
                <li><code>center</code></li>
                <li><code>start</code></li>
                <li><code>end</code></li>
                <li><code>baseline</code></li>
                <li><code>stretch</code></li>
            </ul>
            <p>Align Items lets you control how different rows are position on flex and grid containers. The example shows you the differences.</p>
            <h3>Example:</h3>
            <ul class="container mx-auto divide-y divide-gray-400 divide-dotted" style="font-family: Raleway">
            <li class="w-full h-40 flex items-center px-4 py-2">
                <div class="items-start h-full bg-green-100 justify-items-auto grid grid-cols-3 w-full gap-1">
                <span class="py-2 bg-red-500 text-white px-3 rounded-md">1</span>
                <span class="text-6xl py-6 bg-green-500 text-white px-3 rounded-md">2</span>
                <span class="py-6 bg-blue-500 text-white px-3 rounded-md">3</span>
                </div>
                <div class="ml-5 text-right w-1/3">
                <div class="text-xs font-semibold inline-block font-mono whitespace-nowrap px-2 py-1 rounded text-white bg-pink-500 rounded-2">items-start</div>
                </div>
            </li>
            <li class="w-full h-40 flex items-center px-4 py-2">
                <div class="items-end h-full bg-green-100 justify-items-auto grid grid-cols-3 w-full gap-1">
                <span class="py-2 bg-red-500 text-white px-3 rounded-md">1</span>
                <span class="text-6xl py-6 bg-green-500 text-white px-3 rounded-md">2</span>
                <span class="py-6 bg-blue-500 text-white px-3 rounded-md">3</span>
                </div>
                <div class="ml-5 text-right w-1/3">
                <div class="text-xs font-semibold inline-block font-mono whitespace-nowrap px-2 py-1 rounded text-white bg-pink-500 rounded-2">items-end</div>
                </div>
            </li>
            <li class="w-full h-40 flex items-center px-4 py-2">
                <div class="items-center h-full bg-green-100 justify-items-auto grid grid-cols-3 w-full gap-1">
                <span class="py-2 bg-red-500 text-white px-3 rounded-md">1</span>
                <span class="text-6xl py-6 bg-green-500 text-white px-3 rounded-md">2</span>
                <span class="py-6 bg-blue-500 text-white px-3 rounded-md">3</span>
                </div>
                <div class="ml-5 text-right w-1/3">
                <div class="text-xs font-semibold inline-block font-mono whitespace-nowrap px-2 py-1 rounded text-white bg-pink-500 rounded-2">items-center</div>
                </div>
            </li>
            <li class="w-full h-40 flex items-center px-4 py-2">
                <div class="items-baseline h-full bg-green-100 justify-items-auto grid grid-cols-3 w-full gap-1">
                <span class="py-2 bg-red-500 text-white px-3 rounded-md">1</span>
                <span class="text-6xl py-2 bg-green-500 text-white px-3 rounded-md">2</span>
                <span class="py-6 bg-blue-500 text-white px-3 rounded-md">3</span>
                </div>
                <div class="ml-5 text-right w-1/3">
                <div class="text-xs font-semibold inline-block font-mono whitespace-nowrap px-2 py-1 rounded text-white bg-pink-500 rounded-2">items-baseline</div>
                </div>
            </li>
            <li class="w-full h-40 flex items-center px-4 py-2">
                <div class="items-stretch h-full bg-green-100 justify-items-auto grid grid-cols-3 w-full gap-1">
                <span class="py-2 bg-red-500 text-white px-3 rounded-md">1</span>
                <span class="text-6xl py-6 bg-green-500 text-white px-3 rounded-md">2</span>
                <span class="py-2 bg-blue-500 text-white px-3 rounded-md">3</span>
                </div>
                <div class="ml-5 text-right w-1/3">
                <div class="text-xs font-semibold inline-block font-mono whitespace-nowrap px-2 py-1 rounded text-white bg-pink-500 rounded-2">items-stretch</div>
                </div>
            </li>
            </ul>
        </section>
        <section>
            <h2>Align Self</h2>
            <p><code>items(-DIR)</code></p>
            <small>DIR</small>
            <ul>
                <li><code>center</code></li>
                <li><code>start</code></li>
                <li><code>end</code></li>
                <li><code>baseline</code></li>
                <li><code>stretch</code></li>
            </ul>
            <p>Align self lets you control the alignment of individual items. Notice that self-auto and self-stretch look the same.</p>
            <h3>Example:</h3>
            <ul class="container mx-auto divide-y divide-gray-400 divide-dotted" style="font-family: Raleway">
            <li class="w-full h-40 flex items-center px-4 py-2">
                <div class="items-stretch h-full bg-yellow-100 justify-items-auto grid grid-cols-3 w-full gap-1">
                <span class="py-2 bg-red-500 text-white px-3 rounded-md">1</span>
                <span class="self-auto py-6 bg-green-500 text-white px-3 rounded-md">2</span>
                <span class="py-2 bg-blue-500 text-white px-3 rounded-md">3</span>
                </div>
                <div class="ml-5 text-right w-1/3">
                <div class="text-xs font-semibold inline-block font-mono whitespace-nowrap px-2 py-1 rounded text-white bg-pink-500 rounded-2">self-auto</div>
                </div>
            </li>
            <li class="w-full h-40 flex items-center px-4 py-2">
                <div class="items-stretch h-full bg-yellow-100 justify-items-auto grid grid-cols-3 w-full gap-1">
                <span class="py-2 bg-red-500 text-white px-3 rounded-md">1</span>
                <span class="self-start py-6 bg-green-500 text-white px-3 rounded-md">2</span>
                <span class="py-2 bg-blue-500 text-white px-3 rounded-md">3</span>
                </div>
                <div class="ml-5 text-right w-1/3">
                <div class="text-xs font-semibold inline-block font-mono whitespace-nowrap px-2 py-1 rounded text-white bg-pink-500 rounded-2">self-start</div>
                </div>
            </li>
            <li class="w-full h-40 flex items-center px-4 py-2">
                <div class="items-stretch h-full bg-yellow-100 justify-items-auto grid grid-cols-3 w-full gap-1">
                <span class="py-2 bg-red-500 text-white px-3 rounded-md">1</span>
                <span class="self-end py-6 bg-green-500 text-white px-3 rounded-md">2</span>
                <span class="py-2 bg-blue-500 text-white px-3 rounded-md">3</span>
                </div>
                <div class="ml-5 text-right w-1/3">
                <div class="text-xs font-semibold inline-block font-mono whitespace-nowrap px-2 py-1 rounded text-white bg-pink-500 rounded-2">self-end</div>
                </div>
            </li>
            <li class="w-full h-40 flex items-center px-4 py-2">
                <div class="items-stretch h-full bg-yellow-100 justify-items-auto grid grid-cols-3 w-full gap-1">
                <span class="py-2 bg-red-500 text-white px-3 rounded-md">1</span>
                <span class="self-center py-6 bg-green-500 text-white px-3 rounded-md">2</span>
                <span class="py-2 bg-blue-500 text-white px-3 rounded-md">3</span>
                </div>
                <div class="ml-5 text-right w-1/3">
                <div class="text-xs font-semibold inline-block font-mono whitespace-nowrap px-2 py-1 rounded text-white bg-pink-500 rounded-2">self-center</div>
                </div>
            </li>
            <li class="w-full h-40 flex items-center px-4 py-2">
                <div class="items-stretch h-full bg-yellow-100 justify-items-auto grid grid-cols-3 w-full gap-1">
                <span class="py-2 bg-red-500 text-white px-3 rounded-md">1</span>
                <span class="self-stretch py-6 bg-green-500 text-white px-3 rounded-md">2</span>
                <span class="py-2 bg-blue-500 text-white px-3 rounded-md">3</span>
                </div>
                <div class="ml-5 text-right w-1/3">
                <div class="text-xs font-semibold inline-block font-mono whitespace-nowrap px-2 py-1 rounded text-white bg-pink-500 rounded-2">self-stretch</div>
                </div>
            </li>
            </ul>
        </section>
        <section>
            <h2>Place Content</h2>
            <p><code>place-content(-DIR)</code></p>
            <small>DIR</small>
            <ul>
                <li><code>center</code></li>
                <li><code>start</code></li>
                <li><code>end</code></li>
                <li><code>between</code></li>
                <li><code>around</code></li>
                <li><code>evenly</code></li>
                <li><code>stretch</code></li>
            </ul>
            <h3>Example:</h3>
            <ul class="container mx-auto divide-y divide-gray-400 divide-dotted" style="font-family: Raleway">
            <li class="w-full h-64 flex items-center px-4 py-2">
                <div class="place-content-center h-48 bg-indigo-100 grid grid-cols-3 w-full gap-1">
                <span class="bg-red-500 text-white px-3 py-2 rounded-md">1</span>
                <span class="bg-green-500 text-white px-3 py-2 rounded-md">2</span>
                <span class="bg-blue-500 text-white px-3 py-2 rounded-md">3</span>
                <span class="bg-indigo-500 text-white px-3 py-2 rounded-md">4</span>
                <span class="bg-purple-500 text-white px-3 py-2 rounded-md">5</span>
                <span class="bg-yellow-300 text-white px-3 py-2 rounded-md">6</span>
                </div>
                <div class="ml-5 text-right w-1/3">
                <div class="text-xs font-semibold inline-block font-mono whitespace-nowrap px-2 py-1 rounded text-white bg-pink-500 rounded-2">place-content-center</div>
                </div>
            </li>
            <li class="w-full h-64 flex items-center px-4 py-2">
                <div class="place-content-start h-48 bg-indigo-100 grid grid-cols-3 w-full gap-1">
                <span class="bg-red-500 text-white px-3 py-2 rounded-md">1</span>
                <span class="bg-green-500 text-white px-3 py-2 rounded-md">2</span>
                <span class="bg-blue-500 text-white px-3 py-2 rounded-md">3</span>
                <span class="bg-indigo-500 text-white px-3 py-2 rounded-md">4</span>
                <span class="bg-purple-500 text-white px-3 py-2 rounded-md">5</span>
                <span class="bg-yellow-300 text-white px-3 py-2 rounded-md">6</span>
                </div>
                <div class="ml-5 text-right w-1/3">
                <div class="text-xs font-semibold inline-block font-mono whitespace-nowrap px-2 py-1 rounded text-white bg-pink-500 rounded-2">place-content-start</div>
                </div>
            </li>
            <li class="w-full h-64 flex items-center px-4 py-2">
                <div class="place-content-end h-48 bg-indigo-100 grid grid-cols-3 w-full gap-1">
                <span class="bg-red-500 text-white px-3 py-2 rounded-md">1</span>
                <span class="bg-green-500 text-white px-3 py-2 rounded-md">2</span>
                <span class="bg-blue-500 text-white px-3 py-2 rounded-md">3</span>
                <span class="bg-indigo-500 text-white px-3 py-2 rounded-md">4</span>
                <span class="bg-purple-500 text-white px-3 py-2 rounded-md">5</span>
                <span class="bg-yellow-300 text-white px-3 py-2 rounded-md">6</span>
                </div>
                <div class="ml-5 text-right w-1/3">
                <div class="text-xs font-semibold inline-block font-mono whitespace-nowrap px-2 py-1 rounded text-white bg-pink-500 rounded-2">place-content-end</div>
                </div>
            </li>
            <li class="w-full h-64 flex items-center px-4 py-2">
                <div class="place-content-between h-48 bg-indigo-100 grid grid-cols-3 w-full gap-1">
                <span class="bg-red-500 text-white px-3 py-2 rounded-md">1</span>
                <span class="bg-green-500 text-white px-3 py-2 rounded-md">2</span>
                <span class="bg-blue-500 text-white px-3 py-2 rounded-md">3</span>
                <span class="bg-indigo-500 text-white px-3 py-2 rounded-md">4</span>
                <span class="bg-purple-500 text-white px-3 py-2 rounded-md">5</span>
                <span class="bg-yellow-300 text-white px-3 py-2 rounded-md">6</span>
                </div>
                <div class="ml-5 text-right w-1/3">
                <div class="text-xs font-semibold inline-block font-mono whitespace-nowrap px-2 py-1 rounded text-white bg-pink-500 rounded-2">place-content-between</div>
                </div>
            </li>
            <li class="w-full h-64 flex items-center px-4 py-2">
                <div class="place-content-around h-48 bg-indigo-100 grid grid-cols-3 w-full gap-1">
                <span class="bg-red-500 text-white px-3 py-2 rounded-md">1</span>
                <span class="bg-green-500 text-white px-3 py-2 rounded-md">2</span>
                <span class="bg-blue-500 text-white px-3 py-2 rounded-md">3</span>
                <span class="bg-indigo-500 text-white px-3 py-2 rounded-md">4</span>
                <span class="bg-purple-500 text-white px-3 py-2 rounded-md">5</span>
                <span class="bg-yellow-300 text-white px-3 py-2 rounded-md">6</span>
                </div>
                <div class="ml-5 text-right w-1/3">
                <div class="text-xs font-semibold inline-block font-mono whitespace-nowrap px-2 py-1 rounded text-white bg-pink-500 rounded-2">place-content-around</div>
                </div>
            </li>
            <li class="w-full h-64 flex items-center px-4 py-2">
                <div class="place-content-evenly h-48 bg-indigo-100 grid grid-cols-3 w-full gap-1">
                <span class="bg-red-500 text-white px-3 py-2 rounded-md">1</span>
                <span class="bg-green-500 text-white px-3 py-2 rounded-md">2</span>
                <span class="bg-blue-500 text-white px-3 py-2 rounded-md">3</span>
                <span class="bg-indigo-500 text-white px-3 py-2 rounded-md">4</span>
                <span class="bg-purple-500 text-white px-3 py-2 rounded-md">5</span>
                <span class="bg-yellow-300 text-white px-3 py-2 rounded-md">6</span>
                </div>
                <div class="ml-5 text-right w-1/3">
                <div class="text-xs font-semibold inline-block font-mono whitespace-nowrap px-2 py-1 rounded text-white bg-pink-500 rounded-2">place-content-evenly</div>
                </div>
            </li>
            <li class="w-full h-64 flex items-center px-4 py-2">
                <div class="place-content-stretch h-48 bg-indigo-100 grid grid-cols-3 w-full gap-1">
                <span class="bg-red-500 text-white px-3 py-2 rounded-md">1</span>
                <span class="bg-green-500 text-white px-3 py-2 rounded-md">2</span>
                <span class="bg-blue-500 text-white px-3 py-2 rounded-md">3</span>
                <span class="bg-indigo-500 text-white px-3 py-2 rounded-md">4</span>
                <span class="bg-purple-500 text-white px-3 py-2 rounded-md">5</span>
                <span class="bg-yellow-300 text-white px-3 py-2 rounded-md">6</span>
                </div>
                <div class="ml-5 text-right w-1/3">
                <div class="text-xs font-semibold inline-block font-mono whitespace-nowrap px-2 py-1 rounded text-white bg-pink-500 rounded-2">place-content-evenly</div>
                </div>
            </li>
            </ul>
        </section>
        <section>
            <h2>Place Items</h2>
            <p><code>place-items(-DIR)</code></p>
            <small>DIR</small>
            <ul>
                <li><code>auto</code></li>
                <li><code>start</code></li>
                <li><code>end</code></li>
                <li><code>center</code></li>
                <li><code>stretch</code></li>
            </ul>
            <p>Similarly place items controls how items are justified and aligned.</p>
            <h3>Example:</h3>
            <ul class="container mx-auto divide-y divide-gray-400 divide-dotted" style="font-family: Raleway">
            <li class="w-full flex items-center px-4 py-2">
                <div class="place-items-auto  h-32 grid grid-cols-3 w-full gap-2">
                <span class="bg-red-500 text-white px-3 py-2 rounded-md">1</span>
                <span class="bg-green-500 text-white px-3 py-2 rounded-md">2</span>
                <span class="bg-blue-500 text-white px-3 py-2 rounded-md">3</span>
                <span class="bg-indigo-500 text-white px-3 py-2 rounded-md">4</span>
                <span class="bg-purple-500 text-white px-3 py-2 rounded-md">5</span>
                <span class="bg-yellow-300 text-white px-3 py-2 rounded-md">6</span>
                </div>
                <div class="ml-5 text-right  w-1/3">
                <div class="text-xs font-semibold inline-block font-mono whitespace-nowrap px-2 py-1 rounded text-white bg-pink-500 rounded-2">place-items-auto</div>
                </div>
            </li>
            <li class="w-full flex items-center px-4 py-2">
                <div class="place-items-start  h-32 grid grid-cols-3 w-full gap-2">
                <span class="bg-red-500 text-white px-3 py-2 rounded-md">1</span>
                <span class="bg-green-500 text-white px-3 py-2 rounded-md">2</span>
                <span class="bg-blue-500 text-white px-3 py-2 rounded-md">3</span>
                <span class="bg-indigo-500 text-white px-3 py-2 rounded-md">4</span>
                <span class="bg-purple-500 text-white px-3 py-2 rounded-md">5</span>
                <span class="bg-yellow-300 text-white px-3 py-2 rounded-md">6</span>
                </div>
                <div class="ml-5 text-right  w-1/3">
                <div class="text-xs font-semibold inline-block font-mono whitespace-nowrap px-2 py-1 rounded text-white bg-pink-500 rounded-2">place-items-start</div>
                </div>
            </li>
            <li class="w-full flex items-center px-4 py-2">
                <div class="place-items-end  h-32 grid grid-cols-3 w-full gap-2">
                <span class="bg-red-500 text-white px-3 py-2 rounded-md">1</span>
                <span class="bg-green-500 text-white px-3 py-2 rounded-md">2</span>
                <span class="bg-blue-500 text-white px-3 py-2 rounded-md">3</span>
                <span class="bg-indigo-500 text-white px-3 py-2 rounded-md">4</span>
                <span class="bg-purple-500 text-white px-3 py-2 rounded-md">5</span>
                <span class="bg-yellow-300 text-white px-3 py-2 rounded-md">6</span>
                </div>
                <div class="ml-5 text-right  w-1/3">
                <div class="text-xs font-semibold inline-block font-mono whitespace-nowrap px-2 py-1 rounded text-white bg-pink-500 rounded-2">place-items-end</div>
                </div>
            </li>
            <li class="w-full flex items-center px-4 py-2">
                <div class="place-items-center  h-32 grid grid-cols-3 w-full gap-2">
                <span class="bg-red-500 text-white px-3 py-2 rounded-md">1</span>
                <span class="bg-green-500 text-white px-3 py-2 rounded-md">2</span>
                <span class="bg-blue-500 text-white px-3 py-2 rounded-md">3</span>
                <span class="bg-indigo-500 text-white px-3 py-2 rounded-md">4</span>
                <span class="bg-purple-500 text-white px-3 py-2 rounded-md">5</span>
                <span class="bg-yellow-300 text-white px-3 py-2 rounded-md">6</span>
                </div>
                <div class="ml-5 text-right  w-1/3">
                <div class="text-xs font-semibold inline-block font-mono whitespace-nowrap px-2 py-1 rounded text-white bg-pink-500 rounded-2">place-items-center</div>
                </div>
            </li>
            <li class="w-full flex items-center px-4 py-2">
                <div class="place-items-stretch  h-32 grid grid-cols-3 w-full gap-2">
                <span class="bg-red-500 text-white px-3 py-2 rounded-md">1</span>
                <span class="bg-green-500 text-white px-3 py-2 rounded-md">2</span>
                <span class="bg-blue-500 text-white px-3 py-2 rounded-md">3</span>
                <span class="bg-indigo-500 text-white px-3 py-2 rounded-md">4</span>
                <span class="bg-purple-500 text-white px-3 py-2 rounded-md">5</span>
                <span class="bg-yellow-300 text-white px-3 py-2 rounded-md">6</span>
                </div>
                <div class="ml-5 text-right  w-1/3">
                <div class="text-xs font-semibold inline-block font-mono whitespace-nowrap px-2 py-1 rounded text-white bg-pink-500 rounded-2">place-items-stretch</div>
                </div>
            </li>
            </ul>
        </section>
        <section>
            <h2>Place Self</h2>
            <p><code>place-items(-DIR)</code></p>
            <small>DIR</small>
            <ul>
                <li><code>auto</code></li>
                <li><code>start</code></li>
                <li><code>end</code></li>
                <li><code>center</code></li>
                <li><code>stretch</code></li>
            </ul>
            <p>Place self lets you control individual items inside place content containers, helping you justify and align them..</p>
            <h3>Example:</h3>
            <ul class="container mx-auto divide-y divide-gray-400 divide-dotted" style="font-family: Raleway">
            <li class="w-full h-40 flex items-center px-4 py-2">
                <div class="place-items-stretch h-full bg-yellow-100 justify-items-auto grid grid-cols-3 w-full gap-1">
                <span class="py-2 bg-red-500 text-white px-3 rounded-md">1</span>
                <span class="place-self-auto py-6 bg-green-500 text-white px-3 rounded-md">2</span>
                <span class="py-2 bg-blue-500 text-white px-3 rounded-md">3</span>
                </div>
                <div class="ml-5 text-right w-1/3">
                <div class="text-xs font-semibold inline-block font-mono whitespace-nowrap px-2 py-1 rounded text-white bg-pink-500 rounded-2">self-auto</div>
                </div>
            </li>
            <li class="w-full h-40 flex items-center px-4 py-2">
                <div class="place-items-stretch h-full bg-yellow-100 justify-items-auto grid grid-cols-3 w-full gap-1">
                <span class="py-2 bg-red-500 text-white px-3 rounded-md">1</span>
                <span class="place-self-start py-6 bg-green-500 text-white px-3 rounded-md">2</span>
                <span class="py-2 bg-blue-500 text-white px-3 rounded-md">3</span>
                </div>
                <div class="ml-5 text-right w-1/3">
                <div class="text-xs font-semibold inline-block font-mono whitespace-nowrap px-2 py-1 rounded text-white bg-pink-500 rounded-2">self-start</div>
                </div>
            </li>
            <li class="w-full h-40 flex items-center px-4 py-2">
                <div class="place-items-stretch h-full bg-yellow-100 justify-items-auto grid grid-cols-3 w-full gap-1">
                <span class="py-2 bg-red-500 text-white px-3 rounded-md">1</span>
                <span class="place-self-end py-6 bg-green-500 text-white px-3 rounded-md">2</span>
                <span class="py-2 bg-blue-500 text-white px-3 rounded-md">3</span>
                </div>
                <div class="ml-5 text-right w-1/3">
                <div class="text-xs font-semibold inline-block font-mono whitespace-nowrap px-2 py-1 rounded text-white bg-pink-500 rounded-2">self-end</div>
                </div>
            </li>
            <li class="w-full h-40 flex items-center px-4 py-2">
                <div class="place-items-stretch h-full bg-yellow-100 justify-items-auto grid grid-cols-3 w-full gap-1">
                <span class="py-2 bg-red-500 text-white px-3 rounded-md">1</span>
                <span class="place-self-center py-6 bg-green-500 text-white px-3 rounded-md">2</span>
                <span class="py-2 bg-blue-500 text-white px-3 rounded-md">3</span>
                </div>
                <div class="ml-5 text-right w-1/3">
                <div class="text-xs font-semibold inline-block font-mono whitespace-nowrap px-2 py-1 rounded text-white bg-pink-500 rounded-2">self-center</div>
                </div>
            </li>
            <li class="w-full h-40 flex items-center px-4 py-2">
                <div class="place-items-stretch h-full bg-yellow-100 justify-items-auto grid grid-cols-3 w-full gap-1">
                <span class="py-2 bg-red-500 text-white px-3 rounded-md">1</span>
                <span class="place-self-stretch py-6 bg-green-500 text-white px-3 rounded-md">2</span>
                <span class="py-2 bg-blue-500 text-white px-3 rounded-md">3</span>
                </div>
                <div class="ml-5 text-right w-1/3">
                <div class="text-xs font-semibold inline-block font-mono whitespace-nowrap px-2 py-1 rounded text-white bg-pink-500 rounded-2">self-stretch</div>
                </div>
            </li>
            </ul>
        </section>
    </main>
</body>
</html>
