<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flexbox</title>
</head>
<body>
    <header>
        <h1>Flexbox</h1>
        <p>One of the ways you can choose to organize your layouts is using the flexbox properties.</p>
    </header>
    <main>
        <section>
            <h2>Flex Direction</h2>
            <p><code>flex(-TYP)(-DIR)</code></p>
            <small>TYP</small>
            <ul>
                <li><code>row</code></li>
                <li><code>col</code></li>
            </ul>
            <small>DIR</small>
            <p><code>reverse</code></p>
            <h3>Example:</h3>
            <ul class="container mx-auto divide-y divide-gray-400 divide-dotted" style="font-family: Raleway">
            <li class="flex items-center justify-between px-4 py-2">
                <div class="flex flex-row w-full">
                <span class="inline w-16 h-16 bg-red-500 text-white px-3 py-2 rounded-md mr-1 mb-1">1</span>
                <span class="inline w-16 h-16 bg-green-500 text-white px-3 py-2 rounded-md mr-1 mb-1">2</span>
                <span class="inline w-16 h-16 bg-blue-500 text-white px-3 py-2 rounded-md mr-1 mb-1">3</span>
                <span class="inline w-16 h-16 bg-yellow-300 text-white px-3 py-2 rounded-md mr-1 mb-1">4</span>
                </div>
                <div class="ml-5 text-right">
                <span class="text-xs font-semibold inline-block font-mono whitespace-nowrap px-2 py-1 rounded text-white bg-pink-500 rounded-2 mb-1">flex-row</span>
                </div>
            </li>
            <li class="flex items-center justify-between px-4 py-2">
                <div class="flex flex-row-reverse w-full">
                <span class="inline w-16 h-16 bg-red-500 text-white px-3 py-2 rounded-md mr-1 mb-1">1</span>
                <span class="inline w-16 h-16 bg-green-500 text-white px-3 py-2 rounded-md mr-1 mb-1">2</span>
                <span class="inline w-16 h-16 bg-blue-500 text-white px-3 py-2 rounded-md mr-1 mb-1">3</span>
                <span class="inline w-16 h-16 bg-yellow-300 text-white px-3 py-2 rounded-md mr-1 mb-1">4</span>
                </div>
                <div class="ml-5 text-right">
                <span class="text-xs font-semibold inline-block font-mono whitespace-nowrap px-2 py-1 rounded text-white bg-pink-500 rounded-2 mb-1">flex-row-reverse</span>
                </div>
            </li>
            <li class="flex items-center justify-between px-4 py-2">
                <div class="flex flex-col w-full">
                <span class="inline w-16 h-16 bg-red-500 text-white px-3 py-2 rounded-md mr-1 mb-1">1</span>
                <span class="inline w-16 h-16 bg-green-500 text-white px-3 py-2 rounded-md mr-1 mb-1">2</span>
                <span class="inline w-16 h-16 bg-blue-500 text-white px-3 py-2 rounded-md mr-1 mb-1">3</span>
                <span class="inline w-16 h-16 bg-yellow-300 text-white px-3 py-2 rounded-md mr-1 mb-1">4</span>
                </div>
                <div class="ml-5 text-right">
                <span class="text-xs font-semibold inline-block font-mono whitespace-nowrap px-2 py-1 rounded text-white bg-pink-500 rounded-2 mb-1">flex-col</span>
                </div>
            </li>
            <li class="flex items-center justify-between px-4 py-2">
                <div class="flex flex-col-reverse w-full">
                <span class="inline w-16 h-16 bg-red-500 text-white px-3 py-2 rounded-md mr-1 mb-1">1</span>
                <span class="inline w-16 h-16 bg-green-500 text-white px-3 py-2 rounded-md mr-1 mb-1">2</span>
                <span class="inline w-16 h-16 bg-blue-500 text-white px-3 py-2 rounded-md mr-1 mb-1">3</span>
                <span class="inline w-16 h-16 bg-yellow-300 text-white px-3 py-2 rounded-md mr-1 mb-1">4</span>
                </div>
                <div class="ml-5 text-right">
                <span class="text-xs font-semibold inline-block font-mono whitespace-nowrap px-2 py-1 rounded text-white bg-pink-500 rounded-2 mb-1">flex-col-reverse</span>
                </div>
            </li>
            </ul>
        </section>
        <section>
            <h2>Flex Wrap</h2>
            <p><code>flex-wrap</code></p>
            <p><code>flex-wrap-reverse</code></p>
            <p><code>flex-nowrap</code></p>
            <p>You can tell an item to wrap to a next line or not with these classes. The default is for items not to wrap, but you can also have them wrap in reverse.</p>
            <h3>Example:</h3>
            <ul class="container mx-auto divide-y divide-gray-400 divide-dotted" style="font-family: Raleway">
            <li class="flex items-center justify-between px-4 py-2">
                <div class="flex flex-wrap w-full">
                <span class="inline w-32 h-16 bg-red-500 text-white px-3 py-2 rounded-md mr-1 mb-1">1</span>
                <span class="inline w-32 h-16 bg-green-500 text-white px-3 py-2 rounded-md mr-1 mb-1">2</span>
                <span class="inline w-32 h-16 bg-blue-500 text-white px-3 py-2 rounded-md mr-1 mb-1">3</span>
                <span class="inline w-32 h-16 bg-yellow-300 text-white px-3 py-2 rounded-md mr-1 mb-1">4</span>
                </div>
                <div class="ml-5 text-right">
                <span class="text-xs font-semibold inline-block font-mono whitespace-nowrap px-2 py-1 rounded text-white bg-pink-500 rounded-2 mb-1">flex-wrap</span>
                </div>
            </li>
            <li class="flex items-center justify-between px-4 py-2">
                <div class="flex flex-wrap-reverse w-full">
                <span class="inline w-32 h-16 bg-red-500 text-white px-3 py-2 rounded-md mr-1 mb-1">1</span>
                <span class="inline w-32 h-16 bg-green-500 text-white px-3 py-2 rounded-md mr-1 mb-1">2</span>
                <span class="inline w-32 h-16 bg-blue-500 text-white px-3 py-2 rounded-md mr-1 mb-1">3</span>
                <span class="inline w-32 h-16 bg-yellow-300 text-white px-3 py-2 rounded-md mr-1 mb-1">4</span>
                </div>
                <div class="ml-5 text-right">
                <span class="text-xs font-semibold inline-block font-mono whitespace-nowrap px-2 py-1 rounded text-white bg-pink-500 rounded-2 mb-1">flex-wrap-reverse</span>
                </div>
            </li>
            <li class="flex items-center justify-between px-4 py-2">
                <div class="flex flex-nowrap w-full">
                <span class="inline w-32 h-16 bg-red-500 text-white px-3 py-2 rounded-md mr-1 mb-1">1</span>
                <span class="inline w-32 h-16 bg-green-500 text-white px-3 py-2 rounded-md mr-1 mb-1">2</span>
                <span class="inline w-32 h-16 bg-blue-500 text-white px-3 py-2 rounded-md mr-1 mb-1">3</span>
                <span class="inline w-32 h-16 bg-yellow-300 text-white px-3 py-2 rounded-md mr-1 mb-1">4</span>
                </div>
                <div class="ml-5 text-right">
                <span class="text-xs font-semibold inline-block font-mono whitespace-nowrap px-2 py-1 rounded text-white bg-pink-500 rounded-2 mb-1">flex-nowrap</span>
                </div>
            </li>
            </ul>
        </section>
        <section>
            <h2>Flex</h2>
            <ul>
                <li><code>flex-1</code>: lets an item grow and shrink as needed, but ignores the original size.</li>
                <li><code>flex-auto</code>: lets an item grow and shrink as needed, taking into account the original size.</li>
                <li><code>flex-initial</code>: lets an item shrink, but not grow.</li>
                <li><code>flex-none</code>: prevents an item from growing or shrinking.</li>
            </ul>
            <h3>Example:</h3>
            <ul class="container mx-auto divide-y divide-gray-400 divide-dotted" style="font-family: Raleway">
            <li class="flex items-center justify-between px-4 py-2">
                <div class="flex w-full">
                <span class="flex-initial inline w-24 h-16 bg-red-500 text-white px-3 py-2 rounded-md mr-1 mb-1">1</span>
                <span class="flex-initial inline w-24 h-16 bg-green-500 text-white px-3 py-2 rounded-md mr-1 mb-1">2</span>
                <span class="flex-initial inline w-24 h-16 bg-blue-500 text-white px-3 py-2 rounded-md mr-1 mb-1">3</span>
                </div>
                <div class="ml-5 text-right">
                <span class="text-xs font-semibold inline-block font-mono whitespace-nowrap px-2 py-1 rounded text-white bg-pink-500 rounded-2 mb-1">flex-initial</span>
                </div>
            </li>
            <li class="flex items-center justify-between px-4 py-2">
                <div class="flex w-full">
                <span class="flex-initial inline w-24 h-16 bg-red-500 text-white px-3 py-2 rounded-md mr-1 mb-1">1</span>
                <span class="flex-1 inline w-24 h-16 bg-green-500 text-white px-3 py-2 rounded-md mr-1 mb-1">2</span>
                <span class="flex-initial inline w-24 h-16 bg-blue-500 text-white px-3 py-2 rounded-md mr-1 mb-1">3</span>
                </div>
                <div class="ml-5 text-right">
                <span class="text-xs font-semibold inline-block font-mono whitespace-nowrap px-2 py-1 rounded text-white bg-pink-500 rounded-2 mb-1">flex-1</span>
                </div>
            </li>
            <li class="flex items-center justify-between px-4 py-2">
                <div class="flex w-full">
                <span class="flex-initial inline w-24 h-16 bg-red-500 text-white px-3 py-2 rounded-md mr-1 mb-1">1</span>
                <span class="flex-auto inline w-24 h-16 bg-green-500 text-white px-3 py-2 rounded-md mr-1 mb-1">2</span>
                <span class="flex-initial inline w-24 h-16 bg-blue-500 text-white px-3 py-2 rounded-md mr-1 mb-1">3</span>
                </div>
                <div class="ml-5 text-right">
                <span class="text-xs font-semibold inline-block font-mono whitespace-nowrap px-2 py-1 rounded text-white bg-pink-500 rounded-2 mb-1">flex-auto</span>
                </div>
            </li>
            <li class="flex items-center justify-between px-4 py-2">
                <div class="flex w-full">
                <span class="flex-1 inline w-24 h-16 bg-red-500 text-white px-3 py-2 rounded-md mr-1 mb-1">1</span>
                <span class="flex-none inline w-24 h-16 bg-green-500 text-white px-3 py-2 rounded-md mr-1 mb-1">2</span>
                <span class="flex-1 inline w-24 h-16 bg-blue-500 text-white px-3 py-2 rounded-md mr-1 mb-1">3</span>
                </div>
                <div class="ml-5 text-right">
                <span class="text-xs font-semibold inline-block font-mono whitespace-nowrap px-2 py-1 rounded text-white bg-pink-500 rounded-2 mb-1">flex-none</span>
                </div>
            </li>
            </ul>
        </section>
        <section>
            <h2>Flex Grow</h2>
            <p><code>flex-grow-0</code> lets an item grow to fit the available space.</p>
            <p><code>flex-code</code> prevents and item from growning.</p>
            <h3>Example:</h3>
            <ul class="container mx-auto divide-y divide-gray-400 divide-dotted" style="font-family: Raleway">
            <li class="flex items-center justify-between px-4 py-2">
                <div class="flex w-full">
                <span class="inline w-24 h-16 bg-red-500 text-white px-3 py-2 rounded-md mr-1 mb-1">1</span>
                <span class="flex-grow inline w-24 h-16 bg-green-500 text-white px-3 py-2 rounded-md mr-1 mb-1">2</span>
                <span class="inline w-24 h-16 bg-blue-500 text-white px-3 py-2 rounded-md mr-1 mb-1">3</span>
                </div>
                <div class="ml-5 text-right">
                <span class="text-xs font-semibold inline-block font-mono whitespace-nowrap px-2 py-1 rounded text-white bg-pink-500 rounded-2 mb-1">flex-grow</span>
                </div>
            </li>
            <li class="flex items-center justify-between px-4 py-2">
                <div class="flex w-full">
                <span class="flex-grow inline w-24 h-16 bg-red-500 text-white px-3 py-2 rounded-md mr-1 mb-1">1</span>
                <span class="flex-grow-0 inline w-24 h-16 bg-green-500 text-white px-3 py-2 rounded-md mr-1 mb-1">2</span>
                <span class="flex-grow inline w-24 h-16 bg-blue-500 text-white px-3 py-2 rounded-md mr-1 mb-1">3</span>
                </div>
                <div class="ml-5 text-right">
                <span class="text-xs font-semibold inline-block font-mono whitespace-nowrap px-2 py-1 rounded text-white bg-pink-500 rounded-2 mb-1">flex-grow-0</span>
                </div>
            </li>
            </ul>
        </section>
        <section>
            <h2>Flex Shrink</h2>
            <p><code>flex-shrink-0</code>prevents an item from shrinking</p>
            <p><code>flex-shrink</code>allows an item to shrink if needed.</p>
            <h3>Example:</h3>
            <ul class="container mx-auto divide-y divide-gray-400 divide-dotted" style="font-family: Raleway">
            <li class="flex items-center justify-between px-4 py-2">
                <div class="flex w-full">
                <span class="flex-grow inline w-24 h-16 bg-red-500 text-white px-3 py-2 rounded-md mr-1 mb-1">1</span>
                <span class="flex-shrink inline w-64 h-16 bg-green-500 text-white px-3 py-2 rounded-md mr-1 mb-1">2</span>
                <span class="flex-grow inline w-24 h-16 bg-blue-500 text-white px-3 py-2 rounded-md mr-1 mb-1">3</span>
                </div>
                <div class="ml-5 text-right">
                <span class="text-xs font-semibold inline-block font-mono whitespace-nowrap px-2 py-1 rounded text-white bg-pink-500 rounded-2 mb-1">flex-shrink</span>
                </div>
            </li>
            <li class="flex items-center justify-between px-4 py-2">
                <div class="flex w-full">
                <span class="flex-grow inline w-24 h-16 bg-red-500 text-white px-3 py-2 rounded-md mr-1 mb-1">1</span>
                <span class="flex-shrink-0 inline w-64 h-16 bg-green-500 text-white px-3 py-2 rounded-md mr-1 mb-1">2</span>
                <span class="flex-grow inline w-24 h-16 bg-blue-500 text-white px-3 py-2 rounded-md mr-1 mb-1">3</span>
                </div>
                <div class="ml-5 text-right">
                <span class="text-xs font-semibold inline-block font-mono whitespace-nowrap px-2 py-1 rounded text-white bg-pink-500 rounded-2 mb-1">flex-shrink-0</span>
                </div>
            </li>
            </ul>
        </section>
        <section>
            <h2>Order</h2>
            <p><code>order(-ORD)</code></p>
            <small>ORD</small>
            <ul>
                <li><code>1</code></li>
                <li><code>2</code></li>
                <li><code>3</code></li>
                <li><code>4</code></li>
                <li><code>5</code></li>
                <li><code>6</code></li>
                <li><code>7</code></li>
                <li><code>8</code></li>
                <li><code>9</code></li>
                <li><code>10</code></li>
                <li><code>11</code></li>
                <li><code>12</code></li>
                <li><code>first</code></li>
                <li><code>last</code></li>
                <li><code>none</code></li>
            </ul>
            <h3>Example:</h3>
            <ul class="container mx-auto divide-y divide-gray-400 divide-dotted" style="font-family: Raleway">
            <li class="flex items-center justify-between px-4 py-2">
                <div class="flex w-full">
                <span class="order-2 inline w-24 h-16 bg-red-500 text-white px-3 py-2 rounded-md mr-1 mb-1">1</span>
                <span class="order-2 inline w-24 h-16 bg-green-500 text-white px-3 py-2 rounded-md mr-1 mb-1">2</span>
                <span class="order-2 inline w-24 h-16 bg-blue-500 text-white px-3 py-2 rounded-md mr-1 mb-1">3</span>
                <span class="order-1 inline w-24 h-16 bg-yellow-300 text-white px-3 py-2 rounded-md mr-1 mb-1">4</span>
                </div>
                <div class="ml-5 text-right">
                <div class="text-xs font-semibold inline-block font-mono whitespace-nowrap px-2 py-1 rounded text-white bg-pink-500 rounded-2">z-AMT</div>
                <div class="text-xs font-mono text-gray-500"><b class="text-black mt-3 inline-block">AMT</b><br>1 2 3 4 5<br>6 7 8 9 10<br>11 12<br>
                first last none</div>
                </div>
            </li>
            </ul>
        </section>
    </main>
</body>
</html>
