:root {
  --bs-primary: var(--bs-yellow)
}

h1 {
  color: var(--bs-primary);
}

.btn-primary {
  background-color: var(--bs-primary);
  border-color: var(--bs-primary);
}

.btn-primary:hover {
  background-color: #3949ab;
}
